<div class="container" style="position: relative" >
             <nav class="navbar navbar-inverse" role="navigation" style=" position: absolute;z-index:99;width: 1140px">
                <div class="container-fluid">
                    <div class="nav navbar-header">
                        <a class="navbar-brand" href="../Controler/router.php?action=acueil">Home</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li><a href="../Controler/router.php?action=reservationcar">Reservation of cars</a></li>
                            <li><a href="../Controler/router.php?action=reservationpark">Reservation of parking</a></li>
                            <li><a href="../Controler/router.php?action=rentcar">Rent your car</a></li>
                        </ul>
                    </div>
                    
                    
                    
                </div>
            </nav>
